@model IEnumerable<Abon.Dto.Portal.Home.CategoryDto>

<ul class="nav menu">
    @foreach (var category in Model)
    {
        <li class="categoryItem" ng-mouseenter="openMenu('@category.Id','@category.Children.First().Id')" ng-mouseleave="closeMenu()">
            <div>
                <img src="/File/GetImage?id=@category.ImageId" />
                <p>@category.Name</p>
            </div>
            @Html.Partial("_Partials/_SubCategories", category)
        </li>
    }
    @Html.Action("ChangeType","Home",null)
</ul>
