@model Abon.Dto.Portal.Home.CategoryDto

@{
    var random = new Random();
}
<div style="display: none; height: 120px" ng-mouseenter="openMenu()" ng-mouseleave="closeMenu()" data-ng-show="openedCategoryId == '@Model.Id'">
    <ul style="float:left;">
        @foreach (var subCategory in Model.Children)
        {
            <li><a ng-mouseover="openImage('@subCategory.Id')" href="#">@subCategory.Name</a></li>
        }
    </ul>
    <div style="float:right;">
        @foreach (var subCategory in Model.Children)
        {
            var width = random.Next(100, 200);
            var height = random.Next(100, 200);

            var link = String.Format("http://placehold.it/{0}x{1}", width, height);
            <img style="width:100px; height:100px;" src="@link" ng-show="openedImageId == '@subCategory.Id'" />
        }
    </div>
    <div class="clearfix"></div>
</div>
