
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="brand">
                <img src="/img/logo.png" />
            </a>
           
            <ul class="nav pull-right">
                @Html.Partial("_LoginPartial")
                <div class="search-main">
                    <form>
                        <div id="searchinout">
                            <input id="main-search" type="search" placeholder="Szukaj..." />
                            <input type="button" class="search btn" value="" />
                        </div>
                    </form>
                    
                    
                </div>
            </ul>
            <div class="clearfix"></div>
            <div class="menu-bg">
                <div class="container">
                    <div class="nav-collapse collapse">

                        <ul class="nav main-menu">
                            <li>
                                <img src="/img/ikonatest.png"/>
                                @Html.ActionLink("Home", "Index", "Home")</li>
                            <li>
                                <img src="/img/ikonatest.png" />
                            @Html.ActionLink("About", "About", "Home")</li>
                            <li>
                                <img src="/img/ikonatest.png" />
                            @Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>
                                <img src="/img/ikonatest.png" />
                            @Html.ActionLink("test", "test", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var inputWdith = '200px';
    var inputWdithReturn = '140px';

    $(document).ready(function () {
        $('#main-search').focus(function () {
            //clear the text in the box.
            $(this).val(function () {
                $(this).val('');
            });
            //animate the box
            $(this).animate({
                width: inputWdith
            }, 500)
        });

        $('#main-search').blur(function () {
            $(this).val('Szukaj...');
            $(this).animate({
                width: inputWdithReturn
            }, 500)
        });
    });


    //....................................

    $(function () {
        //sticky menu
        var headHeight = $('.menu-bg').outerHeight();
        $(window).scroll(function () {
            if ($(window).scrollTop() > headHeight) {
                $('.brand').addClass('stickyLogo');
                $('.menu-bg').addClass('stick2top');
            } else {
                $('.brand').removeClass('stickyLogo');
                $('.menu-bg').removeClass('stick2top');
                
            }
        });
        
    });

</script>