
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="brand">
                <img src="/img/logo.png" />
            </a>
            <ul class="nav pull-right">
                @Html.Partial("_LoginPartial")
                <div class="search-main">
                    <input type="text" class="main-search" placeholder="szukaj.." />
                    <input type="button" class="search btn" value="" />
                </div>
            </ul>
            <div class="clearfix"></div>
            <div class="menu-bg">
                <div class="container">
                    <div class="nav-collapse collapse">

                        <ul class="nav main-menu">
                            <li>
                                <img src="/img/ikonatest.png"/>
                                @Html.ActionLink("Home", "Index", "Home")</li>
                            <li>
                                <img src="/img/ikonatest.png" />
                            @Html.ActionLink("About", "About", "Home")</li>
                            <li>
                                <img src="/img/ikonatest.png" />
                            @Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>
                                <img src="/img/ikonatest.png" />
                            @Html.ActionLink("test", "test", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>