@model Abon.Dto.Portal.Account.UserLoginDto

@{
    ViewBag.Title = "Logowanie";
}

@using Abon.HtmlHelpers

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="row-fluid">
    <div class="span6" ng-controller="loginController">
        <section id="loginForm">
            @using (Html.BeginForm("Login","Account",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "loginForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="form-horizontal">
                    <legend>Use a local account to log in.</legend>
                    <div class="control-group">
                        @Html.Label("Email lub nazwa u¿ytkownika", new { @class = "control-label" })
                        <div class="controls">
                            <input ng-model="nameOrEmail" id="nameOrEmail" name="nameOrEmail" class="form-control" type="text" placeholder="Email lub nazwa u¿ytkownika" ng-required="true" />
                            <div class="validation-summary-errors">
                                <div data-ng-show="loginForm.nameOrEmail.$error.required">Email lub nazwa u¿ytkownika jest wymagana</div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.Label("Has³o", new { @class = "control-label" })
                        <div class="controls">
                            <input ng-model="password" id="password" name="password" class="form-control" type="password" placeholder="Has³o" ng-required="true" />
                            <div class="validation-summary-errors">
                                <div data-ng-show="loginForm.password.$error.required">Has³o jest wymagane.</div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-actions no-color">
                        <input ng-disabled="loginForm.$invalid" type="submit" value="Zaloguj" class="btn" />
                    </div>
                </fieldset>
                <p>
                    @Html.ActionLink("Zarejestruj", "Register") siê, jeœli nie masz lokalnego konta.
                </p>
            }
        </section>
    </div>
    <div class="span6">
        <section id="socialLoginForm">

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

<script>
    window.loginData = @Html.ToCamelCaseJson(Model)
</script>